button {
    background-color: var(--main-color);
    color: var(--light-color);
}
input{
    box-shadow: 10px 10px 3px 4px var(--light-color) !important;
}
input:focus{
    border: 2px solid  var(--main-color) !important ;
}
span{
    color: var(--main-color);
}
@media all and (max-width:700px){
 .forgotpass{
    flex-direction: column;
 }
 .btnfotgot{
    width: fit-content;
 }
   
}
